/*
Commentaire en CSS
Permet de présenter le CSS, parfois de mettre un résumé des parties (quand le CSS est très complet)
*/

/* il est possible de redéfinir les paramètre natif du user agent, en modifiant la racine du CSS */
/* il est aussi possible d'y déclarer des variables de couleur, dimensions pour pouvoir maintenanir plus facilement le CSS */

:root{
    font-family: Arial, Helvetica, sans-serif;
    --couleur-texte-generale: #000;
    font-size: 1rem;
}

/* en CSS, nativement les dimension sont calculées sur le contenu, pas sur les largeur des bordure et das marge intérieures */

/* pour mesurer les dimensions depuis l'extérieur des boîtes, il faut le préciser en premier lieu */

*, *::before, *::after{
    box-sizing: border-box;
}

.carreRouge{
    background-color: red;
    border: 5px solid #000;
    padding: 10px;
    width: 100px;
    height: 100px;
}

/*
unité de Dimension les plus utilisées en web

px      =>  pixel
em      =>  cadratin : unité de mesure en print sur les presses.
            le cadratin se calcul par rapport à la taille de la police du conteneur parent
rem     =>  root em ou cadratin racine : calculé depuis la taille défini pour les caractère à la racine
            quelque soit la taille des caractère du conteneur parent
%       =>  pourcentage : défini par rapport à la taille du conteneur
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px
*/

.font2Em{
    font-size: 2em;
}

.font2Rem{
    font-size: 2rem;
}