/*
Commentaire en CSS
Permet de présenter le CSS, parfois de mettre un résumé des parties (quand le CSS est très complet)
*/

/* il est possible de redéfinir les paramètre natif du user agent, en modifiant la racine du CSS */
/* il est aussi possible d'y déclarer des variables de couleur, dimensions pour pouvoir maintenanir plus facilement le CSS */

:root{
    font-family: Arial, Helvetica, sans-serif;
}

/* en CSS, nativement les dimension sont calculées sur le contenu, pas sur les largeur des bordure et das marge intérieures */

/* pour mesurer les dimensions depuis l'extérieur des boîtes, il faut le préciser en premier lieu */

*, *::before, *::after{
    box-sizing: border-box;
}

.carreRouge{
    background-color: red;
    border: 5px solid #000;
    padding: 10px;
    width: 100px;
    height: 100px;
}