/*
Commentaire en CSS
Permet de présenter le CSS, parfois de mettre un résumé des parties (quand le CSS est très complet)
*/

/* il est possible d'importer des feuillet css dans une autre feuillet css */
@import url('Arkham_reg.css');

/* il est possible de redéfinir les paramètre natif du user agent, en modifiant la racine du CSS */
/* il est aussi possible d'y déclarer des variables de couleur, dimensions pour pouvoir maintenanir plus facilement le CSS */

:root{
    font-family: Arial, Helvetica, sans-serif;
    --couleur-texte-generale: #000;
    font-size: 1rem;
    --bg-header: #222126;
    --jaune-logo: #F2C438;
    --orange-logo: #F2B544;
}

/* en CSS, nativement les dimension sont calculées sur le contenu, pas sur les largeur des bordure et das marge intérieures */

/* pour mesurer les dimensions depuis l'extérieur des boîtes, il faut le préciser en premier lieu */

*, *::before, *::after{
    box-sizing: border-box;
}

header a, header a:visited{
    font-family: 'Arkham_reg';
    text-decoration: none;
    color: var(--jaune-logo);
}

.carreRouge{
    background-color: red;
    border: 5px solid #000;
    padding: 10px;
    width: 100px;
    height: 100px;
}

/*
unité de Dimension les plus utilisées en web

px      =>  pixel
em      =>  cadratin : unité de mesure en print sur les presses.
            le cadratin se calcul par rapport à la taille de la police du conteneur parent
rem     =>  root em ou cadratin racine : calculé depuis la taille défini pour les caractère à la racine
            quelque soit la taille des caractère du conteneur parent
%       =>  pourcentage : défini par rapport à la taille du conteneur
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px
*/

.font2Em{
    font-size: 2em;
}

.font2Rem{
    font-size: 2rem;
}

body > header{
    background-color: var(--bg-header);
    padding: 10px;
}

body > header a{
    flex-direction: column;
}

body > header a, body > main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

body > header a img.logo{
    width: 100%;
}

main > article, main > aside{
    width: 100%;
}

body > nav{
    background-color: var(--bg-header);
    color: var(--jaune-logo);
    text-transform: uppercase;
    padding-bottom: 5px;
}

body > nav summary{
    font-weight: bold;
    padding: 5px 0 0 5px;
}

body > nav summary:hover{
    color: var(--bg-header);
    background-color: var(--jaune-logo);
}

body > nav a, body > nav a:visited{
    color: var(--jaune-logo);
    text-decoration: none;
    display: block;
    padding: 5px 10px 5px 10px;
}

body > nav a:hover{
    color: var(--bg-header);
    background-color: var(--jaune-logo);
}




nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav > ul > li{
    
    width: 200px;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: none;
}

details > summary:first-of-type:hover{
    cursor: pointer;
}

/* 
media queries : selon certaines conditions d'affichage, 
on va surcharger des règles CSS écrite précédement
Points de rupture utilisés :
            Extra small <576px  |	Small ≥576px    |    Medium ≥768px   |	Large ≥992px    |	X-Large ≥1200px	| XX-Large ≥1400px
.container	        100%	            540px	        720px	                960px	            1140px	          1320px
*/

/* point de rutpture small */
@media screen and (min-width: 576px){
    body > header a img.logo{
        width: 25vw;
        margin-right: 20px;
    }

    body > header a{
        flex-direction: row;
    }

    body > header a, body > main{
        width: 540px;
    }
}
/* point de rutpture medium */
@media screen and (min-width: 768px){
    body > header a img.logo{
        width: 20vw;
    }

    body > header a, body > main{
        width: 720px;
    }
}
/* point de rutpture large */
@media screen and (min-width: 992px){
    body > header a img.logo{
        width: 15vw;
    }

    body > header a, body > main{
        width: 960px;
    }
}
/* point de rutpture X-large */
@media screen and (min-width: 1200px){
    body > header a img.logo{
        width: 10vw;
    }

    body > header a, body > main{
        width: 1140px;
    }
}
/* point de rutpture XX-large */
@media screen and (min-width: 1400px){
    body > header a img.logo{
        width: 5vw;
    }

    body > header a, body > main{
        width: 1320px;
    }
}